.header {
  position: sticky;
  top: 0px;

  display: flex;
  background-color: rgb(28, 109, 74);
}

.header-icon {
  justify-content: start;
  margin: 5px;
  margin-left: 10px;
}

.header-section {
  display: flex;
  justify-content: space-evenly;
}
