body {
    background-image: url("../../imgs/parallax-imgs/night-sky-b-g-main.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
}

main {
    height: 500vh;
    overflow-y: hidden;
}