/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .web-title {
        display: none;
    }

    .header-menu {
        flex-direction: column;
    }

    .header-sections {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
    }

    .header-section {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-section p {
        font-size: 2.5vh;
    }

    .header-menu-button {
        display: none;
    }

}