header {
  z-index: 100;
  display: flex;
  position: sticky;
  top: 0;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;

  height: 10vh;
  border: 3px solid rgb(75, 43, 66);
  border-top: none;
  background-image: linear-gradient(to bottom right, rgb(155, 80, 136) 5%, rgb(88, 43, 76) 95%);
  border-radius: 0 0 15px 15px;
}

#index-icon {
  display: flex;
  justify-content: start;

  border: 1px solid rgb(85, 38, 72);
}

.web-title {
  display: flex;
  justify-content: center;

  width: 100%;
}

.web-title strong {
  font-size: 2vh;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(189, 209, 193);
}

.header-menu {
  display: flex;

  width: 100%;
  height: 100%;
}

.header-sections {
  display: none;

  width: 100%;
}

.header-section a,
.header-section p {
  width: 100%;
  height: 100%;
}

#header-menu-icon {
  height: 90%;
}

.header-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;

  height: 100%;
}
