/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        height: 7vh;
    }

    .web-title {
        display: none;
    }

    .header-sections {
        height: 100%;
    }

    .header-section p {
        font-size: 2.5vh;
    }
}