footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;

    height: 7vh;
    border: 3px solid rgb(75, 43, 66);
    border-bottom: 0;
    background-image: linear-gradient(to bottom right, rgb(155, 80, 136) 5%, rgb(88, 43, 76) 95%);
}
