.header {
  position: sticky;
  top: 0px;

  border-color: rgb(88, 48, 77);
  border-style: solid;
  border-width: 3px;

  display: flex;
  background-color: rgb(110, 55, 94);
}

.header-icon {
  justify-content: start;
  margin: 5px;
  margin-left: 10px;
  width: 50px;
}

.header-sections {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header-section {
  border-color: black;
  border-style: solid;
  border-width: 1px;

  background-color: rgb(88, 43, 76);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-p {
  color: rgb(189, 209, 193);
}
