/* Form styles */
.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
    font-size: 20px;
}

.input-field {
    padding: 10px;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgba(20, 128, 20, 0.5);
    border-radius: 10px;
}

.msg-type {
    width: fit-content;
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgba(20, 128, 20, 0.5);
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
}

.msg-type label {
    padding: 0;
}

.msg-type p {
    color: rgb(21, 24, 21);
    font-size: 14px;
}

#message-box {
    display: flex;
    margin-right: 20px;
    height: 125px;
}

.row-align {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.temrs-conditions p {
    font-size: 12px;
    margin-top: 7px;
}

.submit-btn {
    display: flex;
}

.submit-btn button {
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgb(20, 128, 20);
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.temrs-conditions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    margin-left: 20px;
}

#submit-success-msg {
    visibility: hidden;
    border-radius: 15px;
    border: 5px solid rgb(20, 128, 20);
    background-color: rgb(13, 158, 13);
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.submit-success-msg p {
    font-weight: bold;
    font-size: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease;
}

/* Messages displayer */
.sent-msgs-container{
    display: flex;
    flex-direction: col;
    flex-wrap: nowrap;

    border: 5px solid rgb(20, 128, 20);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}



/* Social media styles */
.media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid rgb(75, 43, 66);
    height: 100%;
}

.social-media {
    margin: auto;
    display: flex;
    flex-direction: column;
}