.media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-color: rgb(78, 0, 56);
    border-style: solid;
    border-width: 5px;
    height: 100%;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    display: flex;
    width: fit-content;
    justify-content: end;
    border-color: rgb(78, 0, 56);
    border-style: solid;
    border-width: 5px;
}