/* Form styles */
.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
    font-size: 20px;
}

.input-field {
    padding: 10px;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgba(20, 128, 20, 0.5);
    border-radius: 10px;
}

.msg-type {
    width: fit-content;
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgba(20, 128, 20, 0.5);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.msg-type label {
    margin-top: 0;
    font-size: 14px;
    color: black;
}


#message-box {
    height: 190px;
}

.row-align {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.temrs-conditions p {
    font-size: 12px;
    margin-top: 7px;
}

.submit-btn {
    display: flex;
}

.submit-btn button {
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(136, 199, 136));
    border: 5px solid rgb(20, 128, 20);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.temrs-conditions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    margin-left: 20px;
}

#submit-success-msg {
    visibility: hidden;
    border-radius: 15px;
    border: 5px solid rgb(20, 128, 20);
    background-color: rgb(13, 158, 13);
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.submit-success-msg p {
    font-weight: bold;
    font-size: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease;
}

/* Messages displayer */
.sent-msgs-container{
    background-image: linear-gradient(to bottom right, rgb(236, 245, 236), rgb(196, 226, 196), rgb(166, 211, 166));
    border: 5px solid rgb(139, 139, 139);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.sent-msg {
    height: fit-content;
    width: 100%;
    border: 5px solid rgb(139, 139, 139);    
    border-radius: 10px;
    margin-bottom: 10px;
}

.sent-msg p {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    color: black;
    text-align: left;
}


/* Social media styles */
.media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid rgb(75, 43, 66);
    height: 100%;
}

.social-media {
    margin: auto;
    display: flex;
    flex-direction: column;
}