<footer class="footer">
    <div class="footer-content">
        <div class="footer-links">
            <a href="#games">Games</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="social-container">
            <h4 class="social-title">Social Media</h4>
            <div class="social-links">
                <a href="https://github.com/YarCrasy" target="_blank">
                    <img src="../imgs/icon-imgs/github-icon.svg" alt="GitHub" class="social-icon">
                </a>
                <a href="https://www.linkedin.com/in/jlc-gamedev/" target="_blank">
                    <img src="../imgs/icon-imgs/linkedin-icon.svg" alt="LinkedIn" class="social-icon">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../imgs/icon-imgs/square-x-twitter-brands-solid.svg" alt="X" class="social-icon">
                </a>
                <a href="https://www.youtube.com/@Yar-Crasy" target="_blank">
                    <img src="../imgs/icon-imgs/youtube-icon.svg" alt="YouTube" class="social-icon">
                </a>
                <a href="https://yarcrasy.itch.io/" target="_blank">
                    <img src="../imgs/icon-imgs/itchio-textless-black.svg" alt="Itch.io" class="social-icon">
                </a>
            </div>
        </div>
        <p class="copyright">&copy; 2024 Yar's Portfolio. All rights reserved.</p>
    </div>
</footer>
