* {
  margin: 0;
  border: 0;
}

body {
  background-image: linear-gradient(to bottom left, rgb(53, 153, 53), rgb(25, 133, 25) 30%, rgb(60, 160, 60) 70%, rgb(112, 201, 112));
}

.contents {
  flex-direction: column;
  min-height: 90vh;
}

.page-title {
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title h1 {
  display: flex;
  font-size: 10vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

p {
  color: rgb(189, 209, 193);
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: black;
}