.game-sections {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin-top: 3%;

    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 1px;
}

.game-section {
    background-image: linear-gradient(to bottom right, rgb(155, 80, 136) 5%, rgb(88, 43, 76) 95%);
    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 2px;

    margin: 10vw;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.game-section h1 {
    font-size: 3vh;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: underline;
    font-style: italic;
    margin: 2vw;
    margin-bottom: 0;
}


.portrait {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portrait img {
    width: 100%;
}

.screenshoots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 2px;

}

.screenshoot {
    margin: 2vw;
    display: flex;
    justify-content: center;

}

.screenshoot img {
    width: 100%;
}

.screenshoot img:hover {
    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 2px;

}

.description-title {
    text-align: center;
}

.game-description {
    text-align: center;
    height: auto;
    margin: 2vw;
    text-align: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .screenshoot {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .screenshoot {
        width: 40%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .screenshoot {
        width: 28%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .images-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 2vw;
        border-color: rgb(75, 43, 66);
        border-style: solid;
        border-width: 2px;
        height: 80vh;
    }

    .portrait {
        width: 80%;
        border-width: 0px;
        margin: 1vw;
    }

    .screenshoots {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-shrink: 0;
        width: 20%;
        height: 100%;

        overflow-y: auto;
        padding-right: 1px;
    }

    .screenshoot {
        width: 80%;
        display: flex;
        margin: 1vw;
    }

    .screenshoot img {
        width: auto;
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}