.game-title {
    display: flex;
    height: 20%;
}

.game-title h1 {
    font-size: auto;
    text-decoration: underline;
    font-style: italic;
}

.portrait {
    height: 40vw;
    display: flex;
    justify-content: center;
}

.portrait img {
    flex-shrink: 1;
    height: 100%;
    width: max-content;
}

.screenshoots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 15vw;
    width: 100%;

    overflow-x: auto;
}

.screenshoot {
    margin: 1vw;
    display: flex;
    flex-shrink: 0;
}

.screenshoot img {
    width: 100%;
}

.game-description {
    margin-top: 10px;
    height: 25%;
    text-align: left;

    overflow-y: auto;
}

.description-title {
    text-align: center;
}