/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .portrait {
        height: 30vw;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .horizontal-display {
        display: flex;
        flex-direction: row;
    }

    .game-imgs {
        width: 65%;
    }

    .portrait {
        height: 25vw;
    }

    .screenshoots {
        height: 7vw;
        border: 3px solid rgb(75, 43, 66);
    }

    .game-description {
        height: 100%;
        border: 3px solid rgb(75, 43, 66);
        margin-left: 10px;
    }
}