/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .portrait {
        height: 30vw;
    }

    .screenshoots {
        height: 10vw;

        border: 3px solid rgb(75, 43, 66);
    }

    .game-description {
        margin-top: 0;
        width: 100%;
    }

    .game-imgs {
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .horizontal-display {
        display: flex;
        flex-direction: row;
    }

    .game-imgs {
        width: 60%;
    }

    .portrait {
        height: 20vw;
    }

    .screenshoots {
        height: 7vw;
    }

    .game-description {
        margin-top: 0;
        margin-left: 10px;

        height: 100%;
        border: 3px solid rgb(75, 43, 66);
    }
}