.game-title {
    display: flex;
    margin: 20px;
}

.game-title h1 {
    text-decoration: underline;
    font-style: italic;
}

.horizontal-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    height: 100%;
}

.portrait {
    display: flex;
    justify-content: center;

    height: 40vw;
}

.portrait img {
    flex-shrink: 1;

    height: 100%;
    width: max-content;
}

.screenshoots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 10px;
    overflow-x: auto;

    height: 15vw;
    width: 100%;
}

.screenshoot {
    display: flex;
    flex-shrink: 0;

    border: 3px solid rgb(75, 43, 66);
}

.screenshoot img {
    width: 100%;
}

.game-description {
    margin-top: 10px;
    text-align: left;
    overflow-y: auto;

    height: 100%;
}

.description-title {
    text-align: center;
}
