.media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2vw;
}

.social-media {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    color: black;
}

.container {

    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 2px;
}