.media-container {
    border-color: rgb(140, 0, 255);
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    justify-content: center;
}

.media-icon {
    border-color: rgb(75, 43, 66);
    border-style: solid;
    border-width: 5px;
}

.media-name {
    border-color: rgb(190, 37, 147);
    border-style: solid;
    border-width: 5px;
}